* {
  background-color: antiquewhite;
  font-family: "Trebuchet MS", sans-serif;
}

h3 {
  color: rgb(100, 159, 100);
  font-size: 28px;
}

img {
  height: 300px;
  width: auto;
}

ul li {
  font-family: cursive;
  font-size: 20px;
  font-weight: 300;
}
